body{
    background-color: beige;
    font-size: 20px;

}
h1{
    color: blue;
    font-size: 3em;
    font-weight: bold;
}

.list-style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: brown;    
}
